*{
    margin: 0;
}
body {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
     url('https://static.pexels.com/photos/129881/pexels-photo-129881.jpeg');
     font-family:"Trebuchet MS", Helvetica, sans-serif;
}

ul.top-bar {
    position: relative;
    list-style-type: none;
    padding-left: 100px;
    padding-bottom: 0;
    overflow:hidden;
}

li {
    float: right;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: #e5dcce;
    text-align: center;
    font-size: 22px;
    padding:  14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ec538d;
}

.active {
    background-color: #ec538d;
}
li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.show {display:block;}

div.mid-header {
    display: block;
    text-align: center;
    margin-top: 125px;
    font-size:22px;
    color:#e5dcce;
    text-transform: uppercase;
}
#mid-head {
    font-size: 55px;
    color:white;
    font-weight: bold;
}
#btn {
    background-color: #fc3377;
    border-radius: 5px;
    border: none;
    text-align: center;
    padding: 20px 50px 24px 50px;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;

}
.mid {
    margin-right: 50px;
    margin-left: 50px;
    border-radius: 5px;
}
#p1 {
    text-align:center;
}
#title {
    text-align: center;
    color:white;
    font-size: 60px;
}
p {
    font-size: 18px;
    padding: 14px 16px;
    margin-bottom: 5px;
}
h2{
    margin-left:30px;
    font-size: 40px;
    text-align:center;
    margin-bottom: 20px;
}
p, h2, h5 {
    line-height:1.5;
    color:white;
}
h5 {
    font-size:26px;
    font-weight: normal;
    padding-left:14px;
}
h3 {
    font-size:20px;
    color:white;
    padding-left:15px;
}
div a {
    color:#e5dcce;
}
.step1, .step2, .step3 {
    margin-left:25px;
    margin-right:25px;
    width:350px;
    display:block;
    border-left:2px solid white;
    text-align: left;
    background-color:rgba(51, 51, 51, 0.4);
}
.step1{
    float:right;
}
.step2, .step3{
    float:right;
}

#stars-pic {
    width:150px;
    height:200px;
}
aside.imgs {
    float:left;
    margin-left:54px;
    margin
}
div.dealing-types{
    margin-right: 10px;
    margin-left:100px;
}
.dealing {
    text-align:center;
    margin-right: 25px;
    margin-left: 25px;
}
.iceCream-btn, .songs-btn, .chocolate-btn{
    float:left;
    margin:auto;
    display: block;
    color: white;
    text-align: center;
    font-size: 22px;
    padding:30px 66px;
    max-width:225px;
    min-width:100px;
    height:100px;
    margin-bottom:30px;
    text-decoration: none;
    border-left:2px solid white;
}
.iceCream-btn{
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('http://az616578.vo.msecnd.net/files/2016/04/23/635970261176625168760215039_ben-jerrys.jpg');
    background-size: 150% 150%;
}
.songs-btn {
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('http://www.absoluteability.com/wp-content/uploads/2015/09/headphones.jpg');
    background-size: 100% 100%;
}
.chocolate-btn {
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('http://media.new.mensxp.com/media/content/2016/Feb/eating-chocolate-daily-is-good-for-health980-1456212647_980x457.jpg');
    background-size: 300% 300%;
}
